<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

            <bean id="windowBean"
              class="com.github.vjiki.springhello.PlasticWindow">
            </bean>

            <bean id="houseBean"
                    class="com.github.vjiki.springhello.House">
                    <constructor-arg ref="windowBean"/>
                    <!--
                    <constructor-arg value="3"/>
                    -->
                    <property name="height" value="2" />
            </bean>
</beans>
